In [100]:
import pandas as pd

In [101]:
data = pd.read_csv("pokemon_data.csv")

In [102]:
display(data.head())

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [103]:
display(data.tail())

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [104]:
display(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 69.7+ KB

None

In [105]:
display(pd.DataFrame({
    "Column Names":data.columns, 
     "Missing Value Cxount": data.isna().sum(),
     "Percentage":round(data.isna().sum()/data.shape[0],2)
    }))

           Column Names  Missing Value Cxount  Percentage
#                     #                     0        0.00
Name               Name                     0        0.00
Type 1           Type 1                     0        0.00
Type 2           Type 2                   386        0.48
HP                   HP                     0        0.00
Attack           Attack                     0        0.00
Defense         Defense                     0        0.00
Sp. Atk         Sp. Atk                     0        0.00
Sp. Def         Sp. Def                     0        0.00
Speed             Speed                     0        0.00
Generation   Generation                     0        0.00
Legendary     Legendary                     0        0.00

In [106]:
data.rename(columns ={"#":"Index"}, inplace = True)

In [107]:
data.drop("Index", axis =1, inplace = True)

In [108]:
data.columns

Index(['Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [109]:
data.dtypes

Name          object
Type 1        object
Type 2        object
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [110]:
data["Generation"] = data["Generation"].astype(int)

In [111]:
data.nunique()

Name          800
Type 1         18
Type 2         18
HP             94
Attack        111
Defense       103
Sp. Atk       105
Sp. Def        92
Speed         108
Generation      6
Legendary       2
dtype: int64

In [112]:
data["Generation"].unique()

array([1, 2, 3, 4, 5, 6])

In [113]:
data["Type 1"].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [114]:
data["Type 2"].unique()

array(['Poison', nan, 'Flying', 'Dragon', 'Ground', 'Fairy', 'Grass',
       'Fighting', 'Psychic', 'Steel', 'Ice', 'Rock', 'Dark', 'Water',
       'Electric', 'Fire', 'Ghost', 'Bug', 'Normal'], dtype=object)

In [115]:
data.describe().round(2)

           HP  Attack  Defense  Sp. Atk  Sp. Def   Speed  Generation
count  800.00  800.00   800.00   800.00   800.00  800.00      800.00
mean    69.26   79.00    73.84    72.82    71.90   68.28        3.32
std     25.53   32.46    31.18    32.72    27.83   29.06        1.66
min      1.00    5.00     5.00    10.00    20.00    5.00        1.00
25%     50.00   55.00    50.00    49.75    50.00   45.00        2.00
50%     65.00   75.00    70.00    65.00    70.00   65.00        3.00
75%     80.00  100.00    90.00    95.00    90.00   90.00        5.00
max    255.00  190.00   230.00   194.00   230.00  180.00        6.00

In [116]:
data.duplicated().sum()

0

In [117]:
data.drop_duplicates(inplace = True)

In [120]:
data

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,0
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,0
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,0
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,0
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,0
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,1
796,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,1
797,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,1
798,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,1
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,1

In [119]:
data['Legendary'] = data['Legendary'].map({False: 0, True: 1})

In [121]:
data.describe()

,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000,800.00000
mean,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375,0.08125
std,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129,0.27339
min,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000,0.00000
25%,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000,0.00000
50%,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000,0.00000
75%,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000,0.00000
max,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000,1.00000

In [122]:
data = pd.get_dummies(data, columns=['Type 1'], drop_first=True)

In [123]:
data

,Name,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,...,Type 1_Ghost,Type 1_Grass,Type 1_Ground,Type 1_Ice,Type 1_Normal,Type 1_Poison,Type 1_Psychic,Type 1_Rock,Type 1_Steel,Type 1_Water
0,Bulbasaur,Poison,45,49,49,65,65,45,1,0,...,0,1,0,0,0,0,0,0,0,0
1,Ivysaur,Poison,60,62,63,80,80,60,1,0,...,0,1,0,0,0,0,0,0,0,0
2,Venusaur,Poison,80,82,83,100,100,80,1,0,...,0,1,0,0,0,0,0,0,0,0
3,VenusaurMega Venusaur,Poison,80,100,123,122,120,80,1,0,...,0,1,0,0,0,0,0,0,0,0
4,Charmander,NaN,39,52,43,60,50,65,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Fairy,50,100,150,100,150,50,6,1,...,0,0,0,0,0,0,0,1,0,0
796,DiancieMega Diancie,Fairy,50,160,110,160,110,110,6,1,...,0,0,0,0,0,0,0,1,0,0
797,HoopaHoopa Confined,Ghost,80,110,60,150,130,70,6,1,...,0,0,0,0,0,0,1,0,0,0
798,HoopaHoopa Unbound,Dark,80,160,60,170,130,80,6,1,...,0,0,0,0,0,0,1,0,0,0
799,Volcanion,Water,80,110,120,130,90,70,6,1,...,0,0,0,0,0,0,0,0,0,0

1. column rename vachu
2. dropping columns
3. missing values 
4.